{% extends 'base.html.twig' %}

{% set metaDesc = "Страница не найдена" %}
{% set metaKey  = "Страница не найдена" %}

{% block title %} Страница не найдена {% endblock %}

{% block content %}
    <main class="content">
        <div class="error404">
            <img class="img-fluid d-none d-sm-block" src="{{ asset('/images/error404.jpg') }}" alt="Страница не найдена">
            <h1 class="did-you-know">Знаете ли вы, что:</h1>
            <p>Родина современных кур &ndash; Азия. Куры откладывают яйца только при свете. Размер куриного яйца напрямую зависит от породы курицы, её веса и возраста. Куры обычно сами съедают повреждённые яйца. Также они умеют распознавать испорченные яйца и обычно выталкивают их из гнезда прочь. Для того, чтобы нести яйца, петух курам отнюдь не необходим. Численность домашних кур превосходит количество людей на планете в соотношении 3:1.</p>
            <p class="seriously">А если серьёзно…</p>
            <p class="error-message">Произошла ошибка 404.</p>
            <p class="error-desc">Запрашиваемая страница не найдена.</p>
            <p class="guidelines">Воспользуйтесь меню или перейдите на <a href="/">главную</a> страницу.</p>
        </div>
    </main>
{% endblock %}
