{% extends "base.html.twig" %}

{% set metaDesc = "Документы «Сибирский ковчег»" %}
{% set metaKey  = "" %}

{% block title %} Документы {% endblock %}

{% block content %}
    <main class="content">
    </main>
{% endblock %}
