# PhpStorm
/.idea/

# Parameters
/app/config/parameters.yml

# Build data
/build/

// PHPUnit
/phpunit.xml

# Cache, session files and logs
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Managed by Composer
/var/bootstrap.php.cache
!var/SymfonyRequirements.php
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# Managed by NodeJS
/node_modules/
