/.idea/

/.env.local
/.env.local.php
/.env.*.local

/app/bootstrap.php.cache
/app/config/parameters.yml
/node_modules/
/var/
!var/.gitkeep
/vendor/
/web/bundles/
/web/uploads/
/web/build/

.phpunit.result.cache
/phpunit.xml

/yarn-error.log