{% extends "base.html.twig" %}

{% set metaDesc = "Как заказать козье молоко, домашний сыр от фермы «Сибирский ковчег»" %}
{% set metaKey  = "заказать козье молоко, домашний сыр из козьего молока, йогурт, творог" %}

{% block title %} Заказать козье молоко, домашний сыр, йогурт, творог {% endblock %}

{% block content %}
    <main class="content">
        <section>
            <header>
                <h1>Как заказать</h1>
            </header>
            <p>Чтобы оставить заявку, вы можете позвонить по телефону <a href="tel:+79137917783"><span itemprop="telephone">+7-913-791-77-83</span></a>, написать в <a href="//api.whatsapp.com/send?phone=79137917783"><span itemprop="telephone">WhatsApp</span></a> или отправить письмо на электронную почту <a href="mailto:info@sibkov.ru" itemprop="email">info@sibkov.ru</a>, указав наименование продукции, необходимое количество и Ваш контактный номер телефона.</p>
        </section>
        <section>
            <header>
                <h1>Способы и стоимость доставки</h1>
            </header>
            <ol>
                <li>Самовывоз. Забрать продукцию можно либо приехав на нашу ферму, либо в городе &ndash; на ул. Адриена Лежена (станция метро “Золотая Нива”), предварительно оформив заказ.</li>
                <li>Бесплатная доставка по Новосибирску при заказе на сумму от 3000 руб.</li>
                <li>Бесплатная доставка на <strong>Дом одежды</strong> прямо с фермы 2 раза в неделю - по средам и воскресеньям - вечером после 21 часа. </li>
            </ol>
        </section>
        <section>
            <header>
                <h1>Способы оплаты</h1>
            </header>
            <p>Оплата осуществляется наличными или переводом на карту Сбербанка при получении заказа.</p>
        </section>
    </main>
{% endblock %}
