{% extends "base.html.twig" %}

{% set metaDesc = "Как заказать инкубацинное яйцо на ферме «Сибирский ковчег»" %}
{% set metaKey  = "заказать инкубационное яйцо породных кур" %}

{% block title %} Заказать инкубационное яйцо {% endblock %}

{% block content %}
    <main>
        <section>
            <header>
                <h1>Как заказать</h1>
            </header>
            <p>Чтобы оставить заявку, вы можете позвонить по телефону <a href="tel:+79137917783"><span itemprop="telephone">8-913-791-77-83</span></a>, либо написать на электронную почту <a href="mailto:info@sibkov.ru" itemprop="email">info@sibkov.ru</a>, либо написать в WhatsApp <a href="//api.whatsapp.com/send?phone=79137917783"><span itemprop="telephone">8-913-791-77-83</span></a>, указав породу, количество яйца, предполагаемую дату сбора и Ваш контактный номер телефона.</p>
        </section>
        <section>
            <header>
                <h1>Способы и стоимость доставки</h1>
            </header>
            <ol>
                <li>Самовывозом. Вы приезжаете на ферму, предварительно согласовав по телефону дату и время вашего приезда.</li>
                <li>Поездом с проводниками. Доставка инкубационного яйца от фермы до ж/д-вокзала платная &ndash; 750 руб., оплачивается с заказом. Стоимость доставки поездом каждый проводник определяет индивидуально, оплачивается при получении заказа.</li>
                <li>Попутным автотранспортом. Доставка инкубационного яйца от фермы до места отправления автотранспорта платная и зависит от удалённости от фермы, оплачивается с заказом. Стоимость доставки автотранспортом уточняется с каждым водителем индивидуально, оплачивается при получении заказа.</li>
            </ol>
            <p>Минимальный заказ для отправки в регионы составляет 3000 руб. без учёта доставки.</p>
            <p>ВНИМАНИЕ!!! Самолётами заказы не отправляются.</p>
        </section>
        <section>
            <header>
                <h1>Способы оплаты</h1>
            </header>
            <ol>
                <li>При самовывозе оплата производится на месте наличными, либо переводом на банковскую карту Сбербанка.</li>
                <li>При отправке инкубационного яйца в другие регионы оплата производится переводом на банковскую карту Сбербанка не позднее, чем за сутки до отправки заказа.</li>
            </ol>
            <p>При заказе от 70 инкубационных яиц одной породы кур необходимо внести предоплату 50&nbsp;% от суммы заказа.</p>
        </section>
        <section>
            <header>
                <h1>Гарантия</h1>
            </header>
            <p>Ферма даёт гарантию на оплод инкубационного яйца не менее 60&nbsp;%. Если оплод от общего количества оплаченного яйца составит менее 60&nbsp;%, то производится замена неоплодотворённого яйца на новое. При 100&nbsp;% неоплода одной породы производится полная замена яйца или возврат денежных средств (на усмотрение заказчика).</p>
            <p>ВНИМАНИЕ!!! Претензии принимаются только после предъявления неоплода <strong>не позднее 11 дней</strong> с даты получения инкубационного яйца.</p>
        </section>
    </main>
{% endblock %}
