{% extends 'base.html.twig' %}

{% set metaDesc = "" %}
{% set metaKey  = "" %}

{% block title %}  {% endblock %}

{% block content %}
    <main class="content">
        <nav class="row equal">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="{{ path('book_ptitsevodstvo_index') }}" class="media-item">
                    <img class="img-thumbnail" src="{{ asset('build/images/static/ptitsa_thumb.png') }}"
                         alt="Фотоальбом «Гуси, утки, индейки»">
                    <p><span>Птицеводство</span></p>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <a href="{{ path('book_krolikovodstvo_index') }}" class="media-item">
                    <img class="img-thumbnail" src="{{ asset('build/images/static/kury_thumb.png') }}"
                         alt="Фотоальбом «Куры»">
                    <p><span>Кролиководство</span></p>
                </a>
            </div>
        </nav>
    </main>
{% endblock %}
