{% extends "base.html.twig" %}

{% set metaDesc = "Продукция фермы «Сибирский ковчег»" %}
{% set metaKey  = "козье молоко, сыры по зарубежным рецептурам, крафтовый сыр, козий сыр, домашний йогурт и творог" %}

{% block title %} Купить домашние сыры, йогурт, творог, козье молоко {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('product') }}
{% endblock %}

{% block content %}
    <main class="content">
        <header>
            <h1>Молочная продукция от наших козочек</h1>
        </header>
        <article>
            <p>Молоко коз породы Ламанча не имеет запаха, характерного для обычного козьего молока, и обладает слегка сладковатым пломбирно-сливочным привкусом. Жирность молока этих козочек не менее 4%, идеально подходит для приготовления высококачественных сыров.</p>
            <p>Сыры мы изготавливаем по зарубежным рецептурам!</p>
            <div class="table-responsive table-sm">
                <table class="table table-width-65 table-bordered table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th>Наименование</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Наименование">цельное козье молоко</td>
                            <td data-label="Цена">150 руб./л</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">натуральный йогурт</td>
                            <td data-label="Цена">270 руб./л</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">йогурт с добавлением ягод (виктория)</td>
                            <td data-label="Цена">300 руб./л</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">творог из цельного молока (жирность не менее 24%)</td>
                            <td data-label="Цена">700 руб./кг</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">сыр Качотта классический</td>
                            <td data-label="Цена">1500 руб./кг</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">сыр Маасдам</td>
                            <td data-label="Цена">2000 руб./кг</td>
                        </tr>
                        <tr>
                            <td data-label="Наименование">сыр Гауда</td>
                            <td data-label="Цена">2000 руб./кг</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
        <header>
            <h1>Племенной молодняк</h1>
            <p class="text-muted">В данный момент нет в наличии.</p>
        </header>
    </main>
{% endblock %}
