.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    bottom: -1.75rem;
    right: -0.75rem;
    width: auto;
}
.slick-dots li button::before {
    font-size: 0.55rem;
    color: #d9b282;
    opacity: 0.5;
}
.slick-dots li.slick-active:hover button::before {
    opacity: 1;
}
.slick-dots li.slick-active button::before {
    font-size: 0.75rem;
    color: #d9b282;
    opacity: 0.5;
}
.slick-arrow {
    z-index: 100;
}
.slick-arrow::before {
    font-size: 1.5rem;
    opacity: 0.625;
}
.slick-prev {
    left: 0.75rem;
}
.slick-next {
    right: 0.75rem;
}
div.breed-list {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
div.breed-list ul {
    margin-bottom: 0.5rem;
}
div.breed-list li:first-child {
    margin-top: 0;
}
div.breed-list li:last-child {
    margin-bottom: 0;
}
.slider {
    width: 100%;
    box-shadow: 1px 1px 7px #593304;
}
.slider-wrapper {
    padding-top: 1.25em;
}
.slider img[src=''] {
    display: none;
}
.image-aside {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.image-aside img {
    margin: auto;
    box-shadow: 1px 1px 7px #593304;
}
@media only screen and (min-width: 768px) {
    .image-aside {
        max-width: 50%!important;
        margin-left: 1rem;
        float: right;
    }
}
@media only screen and (min-width: 1200px) {
    .image-aside img {
        margin-left: 1rem;
    }
}
.image-aside a:hover img,
.image-aside a:focus img {
    box-shadow: 1px 1px 16px #593304;
}
