.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    bottom: -1.75rem;
    right: -0.5rem;
    width: auto;
}
@media only screen and (max-width: 991px) {
    .slick-dots {
        display: none!important;
    }
}

.slick-dots li button::before {
    font-size: 0.55rem;
    color: #d9b282;
    opacity: 0.5;
}
.slick-dots li.slick-active:hover button::before {
    opacity: 1;
}
.slick-dots li.slick-active button::before {
    font-size: 0.75rem;
    color: #d9b282;
    opacity: 0.5;
}
.slick-arrow {
    z-index: 100;
}
.slick-arrow::before {
    font-size: 1.5rem;
    opacity: 0.625;
}
.slick-prev {
    left: 0.75rem;
}
.slick-next {
    right: 0.75rem;
}
.slider {
    width: 100%;
    box-shadow: 1px 1px 7px #593304;
}
@media only screen and (min-width: 768px) {
    .slider-wrapper {
        padding-top: 1.25em;
    }
}
.slider img[src=''] {
    display: none;
}
h1, h2 {
    color: #651b00;
}
.intro {
    margin-bottom: 2em;
}
@media only screen and (min-width: 768px) {
    .intro p {
        margin: 0 3em;
    }
}
.homepage-image {
    width: 100%;
}
