/* Главная */
div.breed-list {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
div.breed-list ul {
    margin-bottom: 0.5rem;
}
div.breed-list li:first-child {
    margin-top: 0;
}
div.breed-list li:last-child {
    margin-bottom: 0;
}

/* Слайдер */
.slider {
    width: 100%;
    box-shadow: 1px 1px 7px #593304;
}
.slider-wrapper {
    padding-top: 1.25em;
}
/* Изображения */
.image-aside {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
@media only screen and (min-width: 768px) {
    .image-aside {
        max-width: 50%!important;
        margin-left: 1rem;
        float: right;
    }
}
.image-aside img {
    margin: 0 1rem;
    box-shadow: 1px 1px 7px #593304;
}
.image-aside a:hover img,
.image-aside a:focus img {
    box-shadow: 1px 1px 16px #593304;
}
