html {
    height: 100%;
}
body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    line-height: 1.25rem;
    color: black;
    background: #a4c182 url('../images/background.jpg') repeat fixed left top;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
@media only screen and (max-width: 543px) {
    body {
        background-image: none;
    }
}
.container {
    display: flex;
    flex-direction: column;
}
.content {
    flex-grow: 1;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-left: 3px solid #593304;
    border-right: 3px solid #593304;
    background-color: white;
}

/* Header */
.header {
    position: relative;
    flex-shrink: 0;
    max-height: 50px;
    border-left: 3px solid #593304;
    border-right: 3px solid #593304;
    background-color: #593304;
}
.header-name-wrapper {
    height: 50px;
}
@media only screen and (max-width: 591px) {
    .header-name-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 10%;	/* 10% - image ratio for window max width 591px */
    }
    .header-name-content {
        position: absolute!important;
        left: 0!important;
        top: 0!important;
        width: 100%;
    }
}
#header-name {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    #header-name img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto
    }
}
#header-phones {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.7rem 1rem 0.2rem 0;
}
#header-phones a {
    display: block;
    line-height: 1.2;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: white;
    font-size: 1.55em;
    font-weight: bold;
}
#header-phones a:hover,
#header-phones a:focus {
    border-bottom: 1px solid rgba(217,178,130,0.2);		/* color #d9b282 */
    color: #d9b282;
}
@media only screen and (max-width: 1199px) {
    #header-phones {
        padding-top: 0.85rem;
    }
    #header-phones a {
        font-size: 1.35em;
    }
}
@media only screen and (max-width: 991px) {
    #header-phones {
        position: static;
        padding-top: 0.9125rem;
        float: right;
    }
    #header-phones a {
        font-size: 1.2em;
    }
}
@media only screen and (max-width: 767px) {
    #header-phones {
        display: none;
    }
}

/* Navigation */
.navbar {
    flex-shrink: 0;
    padding: 0;
    border-left: 3px solid #593304;
    border-right: 3px solid #593304;
}
.navbar-content {
    position: relative;
    width: 100%;
    border-bottom: 3px solid #d9b282;
    color: white;
    background-color: #593304;
}
.nav-item {
    margin: 0;
}
.nav-link {
    padding: 0.625rem;
    border-bottom: none;
    font-weight: bold;
}
.nav-link:link,
.nav-link:visited {
    line-height: 1.2rem;
    color: white;
}
.nav-link.active,
.nav-link:hover {
    color: #593304;
}
.nav-link:hover {
    background-color: rgba(217,178,130,0.75);				/* color #d9b282 */
}
.nav-link.active {
    background-color: #d9b282!important;
}
#navbar-toggle-cbox {
    display: none;
}
@media only screen and (max-width: 1199px) {
    #navbar-toggle-cbox:checked ~ .collapse {
        display:block;
    }
}
.navbar-toggler {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 0.625rem;
    padding-top: 0;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    font-weight: bold;
    cursor: pointer;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
    text-shadow: 0 0 0.25rem white;
}
.navbar-toggler:before {
    content: '\2261';										/* hamburger icon */
    font-size: 2.2rem;
}
.navbar-section-title {
    min-height: 2.45rem;
    line-height: 1.2rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
.navbar-toggler[aria-expanded='true'],
#navbar-toggle-cbox:checked ~ .navbar-toggler {				/* this selector is used when JS is disabled */
    padding-left: 0.6rem;
    padding-top: 0.375rem;
    color: rgba(217,178,130,0.5);							/* color #d9b282 */
}
.navbar-toggler[aria-expanded='true']:hover,
.navbar-toggler[aria-expanded='true']:focus,
#navbar-toggle-cbox:checked ~ .navbar-toggler:hover,		/* this selector is used when JS is disabled */
#navbar-toggle-cbox:checked ~ .navbar-toggler:focus {
    text-shadow: 0 0 0.25rem #d9b282;
}
.navbar-toggler[aria-expanded='true']:before,
#navbar-toggle-cbox:checked ~ .navbar-toggler:before {
    content: '\2A2F';										/* close icon */
    font-size: 1.6rem;
}
.navbar-toggler[aria-expanded='true'] ~ .navbar-section-title,
#navbar-toggle-cbox:checked ~ .navbar-section-title {		/* this selector is used when JS is disabled */
    color: rgba(217,178,130,0.5);							/* color #d9b282 */
}
.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    background-color: #593304;
    border: none;
    border-radius: 0;
}
.dropdown .nav-link[aria-expanded='true'] {
    color: #593304;
    background-color: rgba(217,178,130,0.75);				/* color #d9b282 */
}
.dropdown-toggle::after {
    margin-bottom: -0.0625em;
}
.dropdown-menu .nav-link {
    padding-left: 2rem!important;
    padding-right: 1.5rem!important;
}

/* Footer */
.footer {
    position: relative;
    flex-shrink: 0;
    height: auto;
    line-height: 1rem;
    padding-bottom: 0.25rem;
    border-left: 3px solid #593304;
    border-right: 3px solid #593304;
    margin: 0;
    color: #593304;
    background-color: #d9b282;
    font-size: 0.8rem;
    overflow: hidden;
}
.footer a:link,
.footer a:visited {
    border-bottom: 1px solid rgba(89,51,04,0.2);	/* color #593304 */
    color: #593304;
}
.footer a:hover,
.footer a:focus {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: white;
}
.footer nav.sitemap {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.footer nav.sitemap ul {
    padding: 0;
    margin: 0;
}
.footer nav.sitemap li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    list-style-type: none;
}
.footer nav.sitemap li:last-child {
    margin-bottom: 0;
}
.footer p {
    padding: 0;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    text-align: left;
}
.footer .contact p {
    margin-top: 0.5rem;
}
.footer .nowrap {
    white-space: nowrap;
}
.footer .contact {
    padding-top: 0.25rem;
}
.footer .copyright {
    padding-bottom: 0.5rem;
    color: #593304;
}
.footer .copyright p {
    display: inline-block;
    text-align: right;
}
.footer .copyright p:first-child {
    margin-top: 0.75rem;
}
@media only screen and (max-width: 767px) {
    .footer .copyright p {
        display: block;
    }
}
@media only screen and (max-width: 543px) {
    .footer .copyright p {
        text-align: left;
    }
}

/* Content */
h1 {
    font-size: 1.5625rem;
    font-weight: bold;
    padding-top: 1.2rem;
}
h2 {
    font-size: 1.35rem;
    font-weight: bold;
}
h3 {
    font-size: 1.1875rem;
    font-weight: bold;
}
a {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
a:link,
a:visited {
    color: black;
    border-bottom-color: rgba(0,0,0,0.2);
}
a:hover,
a:focus {
    color: #d9b282;
    border-bottom-color: rgba(217,178,130,0.2);		/* Соответствует цвету #d9b282 */
    text-decoration: none;
    outline: none;
}
p {
    margin: 0;
    padding-bottom: 0.625rem;
}
p.no-padding-bottom {
    padding-bottom: 0;
}
@media only screen and (min-width: 544px) {
    p {
        text-align: justify;
    }
}
hr {
    margin: 0;
    margin-bottom: 1px;
    border-style: none;
    height: 1px;
    background-color: rgba(217,178,130,0.75);	/* соответствует цвету #d9b282 */
}
ul {
    padding-left: 1.2rem;
}
ol {
    padding-left: 1.2rem;
    margin-bottom: 0;
}
@media only screen and (min-width: 544px) {
    ul {
        padding-left: 2.7rem;
    }
    ol {
        text-align: justify;
    }
}
ul li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
ol li {
    padding-bottom: 0.5rem;
}
.section-name {
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: bold;
    color: #651b00;
}
@media only screen and (min-width: 1200px) {
    .section-name {
        padding-left: 0.75rem;
    }
}
.img-thumbnail {
    padding: 0;
    border-style: none;
    border-radius: 0;
    box-shadow: 1px 1px 7px #593304;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
div a:hover .img-thumbnail,
div a:focus .img-thumbnail {
    box-shadow: 1px 1px 16px #593304;
}
.anchor::before {
    display: block;
    content: '';
    height: 42px;
    margin-top: -42px;
    visibility: hidden;
}

/* Errors */
.error404 {
    padding-top: 1.5rem;
    color: rgba(0,0,0,0.4);
    font-size: 1.125em;
    line-height: 1.25rem;
}
.error404 img {
    float: left;
    padding-right: 2rem;
}
@media only screen and (max-width: 767px) {
    .error404 img {
        max-width: 50%!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .error404 img {
        max-width: 33%!important;
    }
}
.error404 .did-you-know {
    padding-top: 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
}
.error404 .seriously {
    padding-top: 2rem;
    padding-bottom: 0;
}
.error404 .error-message {
    color: black;
    padding-top: 0.625rem;
    padding-bottom: 0;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 2rem;
}
.error404 .error-desc {
    color: black;
}
.error404 .guidelines {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.error404 .guidelines a:link,
.error404 .guidelines a:visited {
    color: rgba(0,0,0,0.4);
}
.error404 .guidelines a:hover,
.error404 .guidelines a:active {
    color: #d9b282;
}
