.img-thumbnail + p {
    font-weight: normal;
    line-height: 1.2rem;
    padding-top: 0.25rem;
    text-align: center;
}
.img-thumbnail + p span {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.album-item {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 0.75rem;
    border-bottom-style: none;
}
.album-item:hover .img-thumbnail + p span,
.album-item:focus .img-thumbnail + p span {
    border-bottom: 1px solid rgba(217,178,130,0.2);		/* Соответствует цвету #d9b282 */
}
.gallery figcaption {
    display: none;
}
.gallery h1 {
    margin-bottom: 0;
}
