.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots {
    bottom: -28px;
    right: -12px;
    width: auto;
}
.slick-dots li button {
    border: 2px solid #d9b282;
    border-radius: 50%;
    box-shadow: 0 0 5px #d9b282;
    height: 4px;
    opacity: .7;
    width: 4px;
}
.slick-dots li button:before {
    border-radius: 50%;
    content: '';
    height: 0.75rem;
    margin: 1px 0 0 1px;
    opacity: 0;
    width: 0.75rem;
}
.slick-dots li:hover button:before,
.slick-dots li button:hover:before,
.slick-dots li.slick-active button:before {
    background-color: #d9b282;
    opacity: 1;
    transition: background-color .5s, opacity 0.5s;
    -o-transition: background-color .5s, opacity .5s;
    -webkit-transition: background-color .5s, opacity .5s;
}
