{% extends "base.html.twig" %}

{% set metaDesc = "" %}
{% set metaKey  = "" %}

{% block title %} О ферме {% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block content %}
    <main class="content">
        <h1 class="text-center">О нашей ферме</h1>
        <p class="no-padding-bottom">Ферма расположена вблизи с. Локти Мошковского района Новосибирской области, 25 км от Новосибирска.</p>
        <p class="no-padding-bottom">Мы занимаемся разведением чистопородных козочек породы Ламанча. Козочки американской селекции (с документами), завезены с юга в 2018 году.</p>
        <p>Также на ферме ведётся работа по племенному птицеводству, в основе &ndash; мясо-яичные породы кур, гуси и утки.</p>

        <div class="image-aside">
            <img class="img-fluid" src="{{ asset('build/images/static/fedorov-igor-gennadevich.jpg') }}" alt="Федоров Игорь Геннадьевич">
        </div>
        <p>Хозяйство было образовано в 2007 году Федоровым Игорем Геннадьевичем после окончания Новосибирского государственного аграрного университета. Глава хозяйства имеет квалификацию «Зооинженер» по направлению «Генетика и селекция сельскохозяйственных животных» (диплом с отличием).</p>
        <p>Начиная с 2015 года хозяйство имеет официальный статус крестьянского (фермерского) хозяйства &ndash; К(Ф)Х. По результатам конкурсного отбора глава хозяйства получил государственную поддержку в виде гранта на создание и развитие К(Ф)Х в рамках ведомственной целевой программы «Развитие сельского хозяйства и регулирование рынков сельскохозяйственной продукции, сырья и продовольствия в Новосибирской области на 2013&ndash;2020 годы». Благодаря государственной поддержке вблизи с.&nbsp;Локти Мошковского района Новосибирской области на базе хозяйства была создана ферма «Сибирский ковчег».</p>
        <p>Наши животные и птица состоят на учёте в «ГБУ НСО Управление ветеринарии Мошковского района НСО».</p>
    </main>
{% endblock %}
