@media only screen and (min-width: 544px) and (max-width: 767px) {
	.equal > .equal-child:nth-child(2n+1) {
		clear: left;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .equal .equal-child:nth-child(3n+1) {
        clear: left;
    }
}
@media only screen and (min-width: 992px) {
    .equal > .equal-child:nth-child(4n+1) {
        clear: left;
    }
}
.album-item,
.product-image a {
	display: block;
	position: relative;
	text-align: center;
	padding-top: 0.75rem;
	border-bottom-style: none;
}
.product-image {
	margin-bottom: 0.75rem;
}
@media only screen and (max-width: 767px) {
	.product-image {
		margin-bottom: 0;
	}
}

.img-thumbnail {
	padding: 0;
	border-style: none;
	border-radius: 0;
	box-shadow: 1px 1px 7px #593304;
}
.album-item:hover .img-thumbnail,
.album-item:focus .img-thumbnail,
.product-image a:hover .img-thumbnail,
.product-image a:focus .img-thumbnail {
	box-shadow: 1px 1px 16px #593304;
}
.img-thumbnail + p {
	font-weight: normal;
	line-height: 1.2rem;
	padding-top: 0.25rem;
	text-align: center;
}
.img-thumbnail + p span {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.product-price {
	display: inline-block;
	padding: 0.5rem 0.25rem 0 0.25rem;
}
.product-price img {
	width: 35px;
	height: 35px;
}
.product-description {
	padding-top: 0.5rem;
}

.album-item:hover .img-thumbnail + p span,
.album-item:focus .img-thumbnail + p span {
	border-bottom: 1px solid rgba(217,178,130,0.2);		/* Соответствует цвету #d9b282 */
}
.gallery figcaption {
	display: none;
}
.gallery h1 {
	margin-bottom: 0;
}

/* Книга */
.book-cover {
	margin-top: 0.5rem;
	box-shadow: 1px 1px 7px #593304;
}
@media only screen and (max-width: 543px) {
	.book-cover {
		float: left;
		max-height: 12rem;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}
.book-comment {
	padding-top: 0.3125rem;
	font-size: 0.7rem;
	line-height: 0.85rem;
	text-align: left;
}
ul.table-of-contents {
	padding-left: 0;
	list-style-type: none;
	line-height: 1.25rem;
	clear: left;
}
ul.table-of-contents > li {
	font-weight: bold;
}
ul.table-of-contents > li ul {
	padding-left: 1.25rem;
	list-style-type: none;
	font-weight: normal;
}
ul.table-of-contents a {
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
ul.table-of-contents li span {
	display: inline-block;
	padding: 0.25rem;
}
ul.table-of-contents li span:hover,
ul.table-of-contents li span:focus {
	cursor: pointer;
	background-color: #d9b282;
}
ul.table-of-contents li span:hover a,
ul.table-of-contents li span:focus a {
	color: #593304;
}
ul.table-of-contents a:hover,
ul.table-of-contents a:focus {
	color: #593304;
	background-color: #d9b282;
}
.book h1,
.book h2,
.book h3 {
	padding-bottom: 0.3125rem;
	margin: 0;
	text-align: center;
}
.book h2,
.book h3 {
	padding-top: 1rem;
}
.book .subtitle {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-style: italic;
	font-weight: bold;
}
.book ul {
	padding-bottom: 0.3125rem;
	margin-bottom: 0;
}
.book ul li {
	margin: 0;
}
.book p {
	padding-top: 0.5rem;
	padding-bottom: 0;
}
@media only screen and (min-width: 544px) {
	.book p {
		padding-top: 0;
		text-indent: 1.5625rem;
	}
	.book .remark {
		padding-left: 4rem;
	}
	.book .table-number {
		padding-left: 1.5625rem;
	}
	.book .table-number+p {
		padding-left: 1.5625rem;
	}
}
.book img {
	padding-top: 1rem;
	margin: auto;
}
.book .img-number {
	text-align: center;
	font-style: italic;
	padding-top: 0.3125rem;
	padding-bottom: 0.625rem;
}
.book .remark {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	font-style: italic;
	text-indent: 1.5625rem;
}
.book .table-number {
	text-align: left;
	font-style: italic;
	padding-top: 0.625rem;
	text-indent: 0;
}
.book .table-number+p {
	text-align: left;
	font-style: italic;
	padding-top: 0;
	padding-bottom: 0.625rem;
	text-indent: 0;
}
.book .table-number+p+img {
	padding-top: 0;
	padding-bottom: 0.625rem;
}


/* 404 */
.error404 {
	color: rgba(0,0,0,0.4);
	font-size: 1.125em;
	line-height: 1.25rem;
}
.error404 img {
	float: left;
	padding-top: 1.5rem;
	padding-right: 2rem;
}
@media only screen and (max-width: 991px) {
	.error404 img {
		max-width: 50%!important;
	}
}
.error404 #did-you-know {
	padding-top: 1.5rem;
	text-align: left;
	text-transform: uppercase;
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: bold;
}
.error404 #seriously {
	padding-top: 2rem;
}
.error404 #error {
	color: black;
	padding-bottom: 0;
	font-size: 1.75em;
	font-weight: bold;
	line-height: 2rem;
}
.error404 #page-not-found {
	color: black;
}
.error404 #main-page {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
.error404 #main-page a:link,
.error404 #main-page a:visited {
	color: rgba(0,0,0,0.4);
}
.error404 #main-page a:hover,
.error404 #main-page a:active {
	color: #d9b282;
}
